*{
 
    margin: 0;
    padding: 0;
}

body{

   background: #0e025c linear-gradient( 115deg, #000000cc, #060631b3 );
   font-family: monospace;
   font-weight: normal;


}
#main{
    height: 100%;
}

#main #cabecalho{
    height: px;
    padding: 0;
    margin: auto ;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

#main #cabecalho #code{
     font-size: 50px;
    color: white;
    transition: 1.0s;
    
    padding: 5px 50px;
    border-radius: 2em;
    float: none;
}
#main .conteudo{
   
    
    margin-left:27%;
  
   

}
 #trabalho, #portifolio{
     display:inline-block;
   


  
   
    
    
}
#main .conteudo a{
    clear: both;
    transition: 1.6s;
    padding:0 2em;
   /* border: white 1px solid;*/
    border-radius: 2em;
    margin: 6em 1.5em;
    float: right;
    text-decoration: none;
}
    
#main .conteudo  a:hover{
        clear: both;
        background:linear-gradient( 115deg,rgba(1, 1, 18, 0.7) , rgba(6, 6, 49, 0.7)) ;
        transition: 1.6s;
        padding:0 2em;
        
        border-radius: 2em;
        margin: 6em;
        float: right;
        text-decoration: none;

}
#main #cabecalho a{
    float: none;
    margin: 20px 0;
    padding: 0;
    display: inline-block;
    text-decoration: none;

    background:linear-gradient( 115deg,  rgba(6, 6, 49, 0.702),rgba(1, 1, 18, 0.7)) ;
    border-radius: 5em;
   
    transition:1.0s;
}
#main #cabecalho a :hover{
    float: none;
    background:linear-gradient( 115deg,rgba(255, 255, 255, 0.921) , rgba(255, 255, 255, 0.537) ) ;
    margin: 0 auto;
    

    border-radius: 3em !important;

    transition: 1.5s;    
    float: none;
    text-decoration: none;
    color:rgba(6, 6, 49, 0.94) !important ;
    font-size: 50px !important;
   

}
#main .conteudo img{
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 0;
}

.texto-ancora{
    
    
    padding:0 15px 5px 10px;
    color: white;
    margin: 0px  auto;
    text-align: center;
}

#rdp{
    height: 50px;
    clear: both;
    float: left;
    width: 100%;
    line-height: 50px;
    text-align: center;

}
.rdp{
    background:  #0e025c linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(6, 6, 49, 0.7) );
    clear: both;
    float: left;
    width: 100%;
    filter: url("/imagens/instagram.png");

    text-align: center;
    
}
h4{
    
    color: white;
}

