*{
 
    margin: 0;
    padding: 0;
}

body{

   background: #0e025c linear-gradient( 115deg, #000000cc, #060631b3 );
   font-family: monospace;
   font-weight: normal;


}
#inputs{

    display: flex;
    align-items: center;
    justify-content: center;
}
#main{
    height: 100%;
}

#main #cabecalho{
    height: px;
    padding: 0;
    margin: auto ;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    text-align: center;
    font-size: 4em;
}

#main #cabecalho #code{
     font-size: 50px;
    color: white;
    transition: 1.0s;
    
    padding: 5px 50px;
    border-radius: 2em;
    float: none;
}
#main .conteudo{
   
    
    margin-left:27%;
  
   

}
 #trabalho, #portifolio{
     display:inline-block;
   


  
   
    
    
}
#main .conteudo a{
    clear: both;
    transition: 1.6s;
    padding:0 2em;
   /* border: white 1px solid;*/
    border-radius: 2em;
    margin: 6em 1.5em;
    float: right;
    text-decoration: none;
}
    
#main .conteudo  a:hover{
        clear: both;
        background:linear-gradient( 115deg,rgba(1, 1, 18, 0.7) , rgba(6, 6, 49, 0.7)) ;
        transition: 1.6s;
        padding:0 2em;
        
        border-radius: 2em;
        margin: 6em;
        float: right;
        text-decoration: none;

}
#main #cabecalho a{
    float: none;
    margin: 20px 0;
    padding: 0;
    display: inline-block;
    text-decoration: none;

    background:linear-gradient( 115deg,  rgba(6, 6, 49, 0.702),rgba(1, 1, 18, 0.7)) ;
    border-radius: 5em;
   
    transition:1.0s;
}
#main #cabecalho a :hover{
    float: none;
    background:linear-gradient( 115deg,rgba(255, 255, 255, 0.921) , rgba(255, 255, 255, 0.537) ) ;
    margin: 0 auto;
    

    border-radius: 3em !important;

    transition: 1.5s;    
    float: none;
    text-decoration: none;
    color:rgba(6, 6, 49, 0.94) !important ;
    font-size: 50px !important;
   

}
#main .conteudo img{
    margin-bottom: 15px;
    padding: 10px;
    padding-bottom: 0;
}

.texto-ancora{
    
    
    padding:0 15px 5px 10px;
    color: white;
    margin: 0px  auto;
    text-align: center;
}

#rdp{
    height: 50px;
    clear: both;
    float: left;
    width: 100%;
    line-height: 50px;
    text-align: center;

}
.rdp{
    background:  #0e025c linear-gradient( 115deg, rgba(0, 0, 0, 0.8), rgba(6, 6, 49, 0.7) );
    clear: both;
    float: left;
    width: 100%;
    filter: url("/imagens/instagram.png");

    text-align: center;
    
}
h4{
    
    color: white;
}

/*formulario*/

.boxInput,.boxInput1{
    padding: 1em;
    color:white;


}
.boxInput label{
    font-size: 1.5em;
    margin-left: 0.2em;
    
    
}
.boxInput input, select, option {
    width: 35em;
    height: 3em;
    border: none;
    border-radius: 0.5em;
    padding: 0;
    margin-top: 0.2em;
}
input:focus{
    
    padding: 0.1px;
}
.boxInput1 label{
    
    font-size: 1.3em;
    
}

.boxInput1 label input{
    margin: 0.2em 1em;
    width: 1em;
}
textarea{
    margin-left: 0.4em ;
    padding: 2em;
    width: 80%;

}
option:disabled{
    color: rgb(215, 210, 210);
}




fieldset{
    background: #0e025c linear-gradient( 115deg, #060631b3,#000000d7  );

    border: none;
    border-radius: 1em;
    margin-bottom: 3em;
}
input::placeholder{
    text-align: center;
}
.boxInput3{
    
   margin-left: 45%;
    border: none;
    border-radius: 1em;
    width: 6em;
    
}


/* portifólio*/

#conteudo3{
 
    display: flex;
    align-items: center;
    justify-content: center;

    border:none;
    border-radius: 0.7em;

   
    margin: 8em auto;

}
.conteudo3 a{
    width: 0%;
    margin: 0;
    padding: 0;
}


.janela1{
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    color: rgb(255, 255, 255);


    float: left;
    border: 1px solid rgba(255, 255, 255, 0.401);
    border-radius: 0.5em;
    margin: 20px;
    width: 600px;
    height: 337px;
    background: #060126d1 linear-gradient( 115deg, #080839b3,#000000d7  );
    
}

a .janela1:hover{
    
    font-size: 0;
    
    
    margin: 20px;
    
    background: url("../imagens/projeto_unes.png") center;
    border: 1px solid rgba(255, 255, 255, 0.401);
    border-radius: 1em;
} 



.janela2{
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    color: rgb(255, 255, 255);


    float: left;
    border: 1px solid rgba(255, 255, 255, 0.401);
    border-radius: 0.5em;
    margin: 20px;
    width: 600px;
    height: 337px;
    background: #060126d1 linear-gradient( 115deg, #080839b3,#000000d7  );
    
}

a .janela2:hover{
    
    font-size: 0;
    
    
    margin: 20px;
    
    background: url("../imagens//Anna_Bella.png") center;
    border: 1px solid rgba(255, 255, 255, 0.401);
    border-radius: 1em;
} 


.janela3{
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2em;
    color: rgb(255, 255, 255);


    float: left;
    border: 1px solid rgba(255, 255, 255, 0.401);
    border-radius: 0.5em;
    margin: 20px;
    width: 600px;
    height: 337px;
    background: #060126d1 linear-gradient( 115deg, #080839b3,#000000d7  );
    
}

a .janela3:hover{
    
    font-size: 0;
    
    
    margin: 20px;
    
    background: url("../imagens/Tec_Blog.png") center;
    border: 1px solid rgba(255, 255, 255, 0.401);
    border-radius: 1em;
} 
a .janela3:hover,a .janela2:hover,a .janela1:hover,a .janela1,a .janela2, a .janela3{

    transition: 0.5s;
    margin: 0em;
}